.main {
    max-width: 600px;
    display: block;
    margin: 50px auto;
    border: solid 1px black;

    padding: 2em;



}


.open-source {
    text-align: center;
}


body {
    background-color: #aab; 


  font-family: 'Open Sans';
}

header {
    background-color: #222; 
    padding: 0.25em;

}
header>div {
    max-width: 800px;
    margin: 0 auto; 

}

header a {
    color: white; 
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

header a:visited {
    color: white; 
}



.main-column {
    background-color: white; 
    max-width: 800px;
    margin:0.5em auto; 
    padding: 2em; 

    box-shadow: 2px 2px 2px #555;
}

.logo-container {
    width: 100px; 
    height: 100px; 
}

.logo-container>img {
    object-fit: contain;
    height: 100%; 
    width: 100%; 
}

.headline {
    display: flex; 
    align-items: center;
    gap: 2em;
}

.edit-with-github {
    text-align: right;
}

a, a:hover {
    color: black; 
}



.game-of-life-cell {
    width: 20px; 
    height: 20px; 
    border: solid 1px black;
}

.game-of-life-cell:hover {
    cursor: pointer; 
}

.game-of-life-row {
    display: flex; 
    flex-flow: row nowrap;

}

.game-of-life-cell.live {
    background-color: green;
}

.game-of-life-cell.dead {
    background-color: grey;
}

.blog-image {
    max-width: 100%; 
}


table {
    border-spacing: 0px;
  border-collapse: separate;
  border: 1px solid black;
}

table thead td {
    font-weight: bold; 
}

table td {
    border: 1px solid black;
    padding: 0.5em;
}

.homepage-article-link {
    border: solid 1px black; 
    padding: 1em; 
    margin: 1em;
    display: block;
    text-decoration: none;
}

.homepage-article-link-title {
    text-decoration: underline;
    font-weight: bold;
}


.series-box {
    border: solid 1px black; 
    padding: 1.5em; 
    margin: 1em 4em;
}

.series-box .current {
    font-weight: bold;
}