.main {
    max-width: 600px;
    display: block;
    margin: 50px auto;
    border: solid 1px black;

    padding: 2em;



}

.open-source {
    text-align: center;
}


body {
    background-color: #aab; 


  font-family: 'Open Sans';
}

.main-column {
    background-color: white; 
    max-width: 800px;
    margin:0 auto; 
    padding: 2em; 

    box-shadow: 2px 2px 2px #555;
}

.logo-container {
    width: 100px; 
    height: 100px; 
}

.logo-container>img {
    object-fit: contain;
    height: 100%; 
    width: 100%; 
}

.headline {
    display: flex; 
    align-items: center;
    gap: 2em;
}