body {
  --color-foreground-paper: black;
  --color-foreground-secondary: #111; 

  /* 
  Secondary and highlight serve the same function 
   Highlight is just a bit zanier */
  --color-foreground-border: #bbb;
  --color-foreground-highlight: #555;
  --color-foreground-impact: white;




  /* The primary canvas */
  --color-background-paper: white;

  /* Secondary paper  */
  --color-background-paper-secondary: #eee;

  /*
  The background on desktop
  */
  --color-background-deep: #aab;
  --color-background-impact: #222;



  --color-warn-primary: #ff8400;
  --color-warn-contrast: black;
  --color-warn-secondary: #fffcd3;


  --color-info-primary: #40c4ff;
  --color-info-contrast: black;
  --color-info-secondary: #b3e5fc;


  color: var(--color-foreground-paper);
  line-height: 1.75;
}

@media (prefers-color-scheme: dark) {
  body {
      --color-foreground-paper: white;
      --color-foreground-secondary: #ccc; 

      --color-foreground-border: #aaa;


      --color-foreground-highlight: #55ff5540;

      --color-foreground-impact: white;


      --color-background-paper: #222;
      --color-background-paper-secondary: #444;

      --color-background-deep: black;
      --color-background-impact: #black;
  }

}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


.sheep-image-wrapper {

  @media (prefers-color-scheme: dark) {
      background: radial-gradient(circle, black 60%, var(--color-background-paper) 68%, #ddffdd50 69%, var(--color-background-paper) 70%);
  }

  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;


  img {

      object-fit: contain;
      left: 25%;
      height: 60%;
      width: 60%;

      animation: fadeIn 0.1s ease-in-out;


  }

}

.main {
  max-width: 600px;
  display: block;
  margin: 50px auto;
  border: solid 1px var(--color-foreground-paper);
  padding: 2em;
}


.error-page h1 {
  text-align: center;
}

.error-page {
  background-color: var(--color-background-paper);
  margin: 4em 2em 4em;
  padding: 2em;
}

.error-page img {
  width: 400px;
  height: 400px;
  display: block;
  margin: 3em auto;
}

.error-page a {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

.open-source {
  text-align: center;
}


body {
  background-color: var(--color-background-deep);
  font-family: 'Open Sans';
  margin: 0;
}

header {
  background-color: var(--color-background-impact);
  padding: 0.5em 0.5em;

  font-size: 1.5em;

  display: flex;
}

header>div {
  max-width: 800px;
  margin: 0 auto;

}

header {

  a,
  a:visited {
      color: var(--color-foreground-impact);
      text-decoration: none;
  }
}

header a:hover {
  text-decoration: underline;
}



.main-column {
  background-color: var(--color-background-paper);
  max-width: 800px;
  margin: 0.5em auto;
  padding: 2em;

  box-shadow: 2px 2px 2px var(--color-foreground-highlight)
}

.logo-container {
  width: 100px;
  height: 100px;
}

.logo-container>img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  object-position: 0 -1px;
}

.headline {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 3em;
}

.edit-with-github {
  text-align: right;
}

a,

a:hover {
  color: var(--color-foreground-paper);
}



.game-of-life-cell {
  width: 20px;
  height: 20px;
  border: solid 1px var(--color-foreground-paper)
}

.game-of-life-cell:hover {
  cursor: pointer;
}

.game-of-life-row {
  display: flex;
  flex-flow: row nowrap;

}

.game-of-life-cell.live {
  background-color: green;
}

.game-of-life-cell.dead {
  background-color: grey;
}

.blog-image {
  max-width: 100%;
}


table {
  border-spacing: 0px;
  border-collapse: separate;
  border: 1px solid var(--color-foreground-border)
}

table thead td {
  font-weight: bold;
}

table td {
  border: 1px solid var(--color-foreground-border);
  padding: 0.5em;
}

.homepage-article-link {
  border: solid 1px var(--color-foreground-paper);
  padding: 1em;
  margin: 1em;
  display: block;
  text-decoration: none;
}

.homepage-article-link-title {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;

}


.series-box {
  border: solid 1px var(--color-foreground-paper);
  padding: 1.5em;

}

.series-box li {
  margin: 0.5em 0;
}

.series-box .current {
  font-weight: bold;
}

.infopanel {
  border: solid 1px;
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em 0;

  font-size: 0.8em;


}

.infopanel-warning {

  a {
      color: var(--color-warn-contrast);

  }

  color: var(--color-warn-contrast);
  border-color: var(--color-warn-primary);
  background-color: var(--color-warn-secondary);
}

.infopanel-info {

  a {
      color: var(--color-info-contrast);

  }

  color: var(--color-warn-contrast);
  border-color: var(--color-info-primary);
  background-color: var(--color-info-secondary);
}

.infopanel .icon {
  float: left;
  margin: 0.5em;
}

.infopanel-warning .icon {
  color: var(--color-warn-primary);
}

.infopanel-info .icon {
  color: var(--color-info-primary);
}

@media only screen and (max-width: 767px) {
  .main-column {
      margin: 0;
      padding: 0.5em;
  }

  .main {
      margin: 0;
      margin-bottom: 0.25em;
      border: 0px solid transparent;

      padding: 0;
  }

  li:has(>a) {
      margin: 0.5em 0;
  }

  .series-box {
      padding: 0;
      border: border 1px solid var(--color-foreground-border);
      border-width: 0 0 1px;
  }

  .series-box>p {
      margin-top: 0;
  }

  .homepage-article-link {
      margin: 0.5em 0;
  }
}

.date-published {
  font-size: 0.75em;
}

.next-post {
  border: solid 2px var(--color-foreground-paper);
  padding: 2em 2em;
  border-radius: 1em;
  font-size: 1.2em;
  margin: 2em 0 2em;
}

#comments:focus {
  border: solid 2px #aaf;
  border-radius: 0.2em;

}


/**

  Inspired by this: 
  https://codingislove.com/css-speech-bubbles/
*/
.aside {
  width: 300px;
  margin: 1em;
  border: 1px solid var(--color-foreground-border);
  border-radius: 0.5em;
  padding: 20px;
  background-color: var(--color-background-paper-secondary);
  font-size: 0.75em;
  position: relative;
  float: right;
  box-shadow: 2px 2px 2px var(--color-foreground-border);
}

.aside .triangle {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid var(--color-foreground-border);
  border-right: 10px solid transparent;
  border-top: 10px solid var(--color-foreground-border);
  border-bottom: 10px solid transparent;
  right: -21px;
  top: 6px;
  z-index: 2
}

.aside .triangle:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid var(--color-background-paper-secondary);
  border-right: 10px solid transparent;
  border-top: 10px solid var(--color-background-paper-secondary);
  border-bottom: 10px solid transparent;
  right: -5px;
  top: -8px;
}

.clear-right {
  clear: right;
}


.image-panel {
  display: flex; 
  flex-flow: row wrap; 
  justify-content: space-around;

  background-color: var(--color-background-paper-secondary);
  border: solid 1px var(--color-foreground-border); 
  border-radius: 0.25em;
  padding: 0.25em;

  .image-panel-single {
      background-color: var(--color-background-paper); 
      padding: 1em; 
      border: solid 1px var(--color-background-paper-secondary);
      border-radius: 0.25em;
  }

  .image-panel-caption {
      text-align: center; 
      color: var(--color-foreground-secondary);
      font-size: 0.75em;
  }
}